build
abcdCmake.in
docs/doxy/*
*.log
\.*
!.gitignore
!.gitmodules
example/*
!example/example.cpp
!example/CMakeLists.txt
*.kdev4


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

#CMAKE
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

#emacs
# -*- mode: gitignore; -*-
*~
\#*\#
auto-save-list
tramp
.\#*
